$mobile: "only screen and (max-width: 640px)";
$desktop: "only screen and (min-width: 641px)";

$root-font-size: 15px;
$font-color: #444;

$icon-color: #c4c4c4;
$primary-color: #00bbb1;
$secondary-color: #0075bb;
$html-background-color: #f1f1f1;
$toolbar_height: 56px;

$transition-time: .5s;

$form--todoinput--pad: 1.25rem 1.75rem;